@page "/crowdinfo"
@using CitizenHackathon2025V4.Blazor.Client.Pages.GenericEntities
@using CitizenHackathon2025V4.Blazor.Client.Common.SignalR
@using CitizenHackathon2025V4.Blazor.Client.Models
@using CitizenHackathon2025V4.Blazor.Client.Shared.Suggestion
@inherits SignalRComponentBase<CrowdInfoModel>
@inject IJSRuntime JS
@inject OutZenSignalRService SignalRService
@implements IDisposable

<h3>Crowd Information</h3>
@* @inject CrowdInfoService CrowdInfoService
 *@
<GenericEntityList TModel="CrowdInfoModel"
                   Hub="/hubs/crowdinfohub"
                   Event="notifyNewCrowdInfo"
                   LoadFunc="@LoadCrowdInfoAsync" />

@if (Suggestions?.Any() == true)
{
    <div class="alert alert-info">
        <p>@Suggestions.Count() suggestion(s) nearby</p>
        <button class="btn btn-primary" @onclick="ShowOnMap">See on map</button>
    </div>
    <div class="detail-container">
        <p>Info on suggestion</p>
    </div>

    <div class="card">Statistics</div>

    <button class="btn">Send</button>
    <div class="ultra-luxe">
        <CrowdInfo />
    </div>
}

@code {

    [Parameter] public IEnumerable<SuggestionDTO> Suggestions { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        SignalRService.OnCrowdInfoUpdated += HandleCrowdUpdate;
        await SignalRService.StartAsync();
    }

    private void HandleCrowdUpdate(CrowdInfoUIDTO data)
    {
        Console.WriteLine($"🧠 Received Crowd Info: {data.PlaceName} ({data.CrowdLevel})");
    }



    private async Task<List<CrowdInfoModel>> LoadCrowdInfoAsync()
    {
        var result = await CrowdInfoService.GetAllCrowdInfoAsync();
        return result.ToList();
    }

    private async Task ShowOnMap()
    {
        await JS.InvokeVoidAsync("showSuggestionsOnMap", Suggestions);
    }

    public void Dispose()
    {
        SignalRService.OnCrowdInfoUpdated -= HandleCrowdUpdate;
    }
}















































































@* // Copyrigtht (c) 2025 Citizen Hackathon https://github.com/POLLESSI/Citizenhackathon2025V4.Blazor.Client. All rights reserved. *@