@page "/place"
@using CitizenHackathon2025V4.Blazor.Client.Pages.GenericEntities
@using CitizenHackathon2025V4.Blazor.Client.Models
@using CitizenHackathon2025V4.Blazor.Client.Shared.Suggestion
@inject IJSRuntime JS
@inject OutZenSignalRService SignalRService
@inject PlaceService PlaceService

<h3>Place Information</h3>

<GenericEntityList TModel="PlaceModel"
                   Hub="/hubs/placehub"
                   Event="notifyNewPlace"
                   LoadFunc="@LoadPlacesAsync" />

@if (Suggestions?.Any() == true)
{
    <p>@Suggestions.Count() suggestions nearby</p>
    <button class="btn btn-primary" @onclick="ShowOnMap">See on map</button>
    <div class="detail-container">
        <p>Info on suggestion</p>
    </div>

    <div class="card">Statistics</div>

    <button class="btn">Send</button>
    <div class="ultra-luxe">
        <Place /> 
    </div>
}

@code {

    [Parameter] public IEnumerable<SuggestionDTO> Suggestions { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        SignalRService.OnCrowdInfoUpdated += HandleCrowdUpdate;
        await SignalRService.StartAsync();
    }

    private void HandleCrowdUpdate(CrowdInfoUIDTO data)
    {
        Console.WriteLine($"🧠 Received Crowd Info: {data.CrowdLevel} ({data.PlaceName})");
    }

    private async Task<List<PlaceModel>> LoadPlacesAsync()
    {
        var result = await PlaceService.GetLatestPlaceAsync();
        return result.ToList();
    }

    private async Task ShowOnMap()
    {
        await JS.InvokeVoidAsync("showSuggestionsOnMap", Suggestions);
    }

    public void Dispose()
    {
        SignalRService.OnCrowdInfoUpdated -= HandleCrowdUpdate;
    }
}



















































































        @* // Copyrigtht (c) 2025 Citizen Hackathon https://github.com/POLLESSI/Citizenhackathon2025V4.Blazor.Client. All rights reserved. *@